<div class="row">
	<h2><i18n>rbs.booking.title</i18n></h2>

	<div class="row accordions">
		<article class="accordion" ng-class="{ opened: booking.displaySection === 1 }">

			<h2 ng-click="booking.displaySection = 1;">
				<i18n>rbs.booking.title.booking</i18n>
				<span class="right-magnet" ng-if="booking.displaySection !== 1 && booking.is_periodic !== true">
					<i18n>rbs.booking.details.header.from</i18n>&nbsp;[[formatMoment(booking.startMoment)]]&nbsp;
					<i18n>rbs.booking.details.header.to</i18n>&nbsp;[[formatMoment(booking.endMoment)]]
				</span>
				<span class="right-magnet" ng-if="booking.displaySection !== 1 && booking.is_periodic === true">
					<i18n>rbs.booking.details.header.periodic</i18n>&nbsp;[[formatMoment(booking.startMoment)]]
				</span>
			</h2>

			<div class="toggle">
				<div class="content">
					<div class="row details">
						<div class="six cell form-element">
							<label class="row"><i18n>rbs.booking.details.start.label</i18n></label>
							<p>[[formatMomentLong(booking.startMoment)]]</p>
						</div>
						<div class="six cell form-element">
							<label class="row"><i18n>rbs.booking.details.end.label</i18n></label>
							<p>[[formatMomentLong(booking.endMoment)]]</p>
						</div>
					</div>

					<div class="row details">
						<div class="six cell form-element">
							<label class="row"><i18n>rbs.booking.details.owner.label</i18n></label>
							<p>[[booking.owner_name]]</p>
						</div>
						<div class="six cell form-element">
							<label class="row"><i18n>rbs.booking.details.created.label</i18n></label>
							<p>[[formatDateLong(booking.created)]]</p>
						</div>
					</div>

					<div class="row details">
						<label class="twelve cell"><i18n>rbs.booking.details.reason</i18n></label>
						<p class="twelve cell"  ng-if="booking.booking_reason && booking.booking_reason !== ''">[[booking.booking_reason]]</p>
						<p class="twelve cell placeholder"  ng-if="! (booking.booking_reason && booking.booking_reason !== '')"><i18n>rbs.booking.details.reason.empty</i18n></p>
					</div>
				</div>
			</div>
		</article>

		<article class="accordion" ng-class="{ opened: booking.displaySection === 2 }">

			<h2 ng-click="booking.displaySection = 2;">
				<i18n>rbs.booking.title.resource</i18n>
				<span class="right-magnet" ng-if="booking.displaySection !== 2">
					[[composeTitle(booking.resource.resourceType.name, booking.resource.name)]]
				</span>
			</h2>

			<div class="toggle">
				<div class="content">
					<div class="warning row details" ng-if="booking.resource.is_available !== true">
						<i18n>rbs.booking.details.resource.unavailable</i18n>
					</div>

					<div class="row details">
						<div class="six cell">
							<label class="row"><i18n>rbs.booking.details.type.label</i18n></label>
							<p>[[booking.resource.resourceType.name]]</p>
						</div>
						<div class="six cell">
							<label class="row"><i18n>rbs.booking.details.resource.label</i18n></label>
							<p>[[booking.resource.name]]</p>
						</div>
					</div>

					<div class="row details">
						<label class="twelve cell"><i18n>rbs.booking.details.description.label</i18n></label>
						<p class="twelve cell" ng-if="booking.resource.description && booking.resource.description !== ''" bind-html="booking.resource.description"></p>
						<p class="twelve cell placeholder"  ng-if="! (booking.resource.description && booking.resource.description !== '')"><i18n>rbs.booking.details.description.empty</i18n></p>
					</div>
				</div>
			</div>
		</article>

		<article ng-if="booking.is_periodic === true" class="accordion" ng-class="{ opened: booking.displaySection === 3 }">

			<h2 ng-click="booking.displaySection = 3;">
				<i18n>rbs.booking.title.periodic</i18n>
				<span class="right-magnet" ng-if="countRefusedSlots(booking._slots) <= 1">
					[[countRefusedSlots(booking._slots)]]&nbsp;<i18n>rbs.booking.details.header.refused.one</i18n>
				</span>
				<span class="right-magnet" ng-if="countRefusedSlots(booking._slots) > 1">
					[[countRefusedSlots(booking._slots)]]&nbsp;<i18n>rbs.booking.details.header.refused.many</i18n>
				</span>
				<span class="right-magnet" ng-if="countValidatedSlots(booking._slots) <= 1">
					[[countValidatedSlots(booking._slots)]]&nbsp;<i18n>rbs.booking.details.header.validated.one</i18n>&nbsp;-&nbsp;
				</span>
				<span class="right-magnet" ng-if="countValidatedSlots(booking._slots) > 1">
					[[countValidatedSlots(booking._slots)]]&nbsp;<i18n>rbs.booking.details.header.validated.many</i18n>&nbsp;-&nbsp;
				</span>
				<span class="right-magnet" ng-if="booking._slots.length <= 1">
					[[booking._slots.length]]&nbsp;<i18n>rbs.booking.details.header.slots.one</i18n>&nbsp;-&nbsp;
				</span>
				<span class="right-magnet" ng-if="booking._slots.length > 1">
					[[booking._slots.length]]&nbsp;<i18n>rbs.booking.details.header.slots.many</i18n>&nbsp;-&nbsp;
				</span>
			</h2>

			<div class="toggle">
				<div class="content">
					<div class="warning row details" ng-if="booking.resource.is_available !== true || booking.hasAtLeastOneSuspendedSlot()">
						<i18n ng-if="! booking.hasAtLeastOneSuspendedSlot()">rbs.booking.details.resource.unavailable</i18n>
						<i18n ng-if="booking.hasAtLeastOneSuspendedSlot()">rbs.booking.details.suspended.slots</i18n>
					</div>

					<table class="list-view twelve">
						<thead>
							<tr>
								<th><i18n>rbs.booking.headers.nb</i18n></th>
								<th><i18n>rbs.booking.headers.start_date</i18n></th>
								<th><i18n>rbs.booking.headers.end_date</i18n></th>
								<th><i18n>rbs.booking.headers.moderator</i18n></th>
								<th><i18n>rbs.booking.headers.status</i18n></th>
							</tr>
						</thead>
						<tbody ng-repeat="slot in booking._slots | orderBy: 'startMoment'">
							<tr>
                                <td ng-if="slot == currentBookingSelected">[[$index + 1]] <em style="color:red">*</em></td>
                                <td ng-if="slot != currentBookingSelected">[[$index + 1]]</td>
								<td ng-if="slot.isRefused()"><a ng-click="switchExpandSlot(slot)">[[formatMoment(slot.startMoment)]]</a></td>
								<td ng-if="! slot.isRefused()">[[formatMoment(slot.startMoment)]]</td>

								<td ng-if="slot.isRefused()"><a ng-click="switchExpandSlot(slot)">[[formatMoment(slot.endMoment)]]</a></td>
								<td ng-if="! slot.isRefused()">[[formatMoment(slot.endMoment)]]</td>

								<td ng-if="slot.isPending() || slot.isSuspended()"></td>
								<td ng-if="slot.isValidated()">[[slot.moderator_name]]</td>
								<td ng-if="slot.isRefused()"><a ng-click="switchExpandSlot(slot)">[[slot.moderator_name]]</a></td>

								<td ng-if="slot.isPending()"><i18n>rbs.booking.status.created</i18n></td>
								<td ng-if="slot.isSuspended()"><i18n>rbs.booking.status.suspended</i18n></td>
								<td ng-if="slot.isValidated()"><i18n>rbs.booking.status.validated</i18n></td>
								<td ng-if="slot.isRefused()"><a ng-click="switchExpandSlot(slot)"><i18n>rbs.booking.status.refused</i18n></a></td>
							</tr>
							<tr ng-if="slot.expanded === true" class="minor">
								<td></td>
								<td colspan="4">
									<div class="row form-element">
										<p class="twelve cell" ng-if="slot.refusal_reason && slot.refusal_reason !== ''" bind-html="slot.refusal_reason"></p>
										<p class="twelve cell placeholder" ng-if="! (slot.refusal_reason && slot.refusal_reason !== '')"><i18n>rbs.booking.details.refused.reason.empty</i18n></p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
                    <em style="color:red; margin-right:10px ">*</em><i18n>rbs.booking.periodic.delete.details</i18n>

					<div class="row details" ng-if="booking.hasAtLeastOnePendingSlot()">
						<p class="four cell"><i18n>rbs.booking.details.pending</i18n></p>
						<div class="row" ng-if="booking.resource.type.moderators">
							<p class="row">
								<span ng-repeat="moderator in booking.resource.type.moderators" class="cell four cell-ellipsis horizontal-spacing-twice"
									  title="[[moderator.username+' ('+lang.translate(moderator.type)+')']]">
										[[moderator.username]] <em class="small-text">([[lang.translate(moderator.type)]])</em>[[$last ? '' : ', ']]
								</span>
							</p>
						</div>
					</div>

				</div>
			</div>
		</article>

		<article ng-if="booking.is_periodic !== true" class="accordion" ng-class="{ opened: booking.displaySection === 3 }">

			<h2 ng-click="booking.displaySection = 3;">
				<i18n>rbs.booking.title.process</i18n>
				<span class="right-magnet" ng-if="booking.isPending()"><i18n>rbs.booking.status.created</i18n></span>
				<span class="right-magnet" ng-if="booking.isValidated()"><i18n>rbs.booking.status.validated</i18n></span>
				<span class="right-magnet" ng-if="booking.isRefused()"><i18n>rbs.booking.status.refused</i18n></span>
				<span class="right-magnet" ng-if="booking.isSuspended()"><i18n>rbs.booking.status.suspended</i18n></span>
			</h2>

			<div class="toggle">
				<div class="content">
					<div class="warning row details" ng-if="booking.resource.is_available !== true || booking.isSuspended()">
						<i18n ng-if="! booking.isSuspended()">rbs.booking.details.resource.unavailable</i18n>
						<i18n ng-if="booking.isSuspended()">rbs.booking.details.suspended.booking</i18n>
					</div>

					<div class="row details" ng-if="booking.isPending()">
						<p class="four cell"><i18n>rbs.booking.details.pending</i18n></p>
						<div class="row" ng-if="booking.resource.type.moderators">
							<p class="row">
								<span ng-repeat="moderator in booking.resource.type.moderators">
										[[moderator.username]][[$last ? '' : ', ']]
								</span>
							</p>
						</div>
					</div>

					<div class="row details" ng-if="booking.isValidated()">
						<div class="six cell">
							<label class="row"><i18n>rbs.booking.details.validated.moderator.label</i18n></label>
							<p>[[booking.moderator_name]]</p>
						</div>
						<div class="six cell">
							<label class="row"><i18n>rbs.booking.details.validated.date.label</i18n></label>
							<p>[[formatDateLong(booking.modified)]]</p>
						</div>
					</div>

					<div class="row details" ng-if="booking.isRefused()">
						<div class="six cell">
							<label class="row"><i18n>rbs.booking.details.refused.moderator.label</i18n></label>
							<p>[[booking.moderator_name]]</p>
						</div>
						<div class="six cell">
							<label class="row"><i18n>rbs.booking.details.refused.date.label</i18n></label>
							<p>[[formatDateLong(booking.modified)]]</p>
						</div>
					</div>

					<div class="row details" ng-if="booking.isRefused()">
						<label class="twelve cell"><i18n>rbs.booking.details.refused.reason</i18n></label>
						<p class="twelve cell" ng-if="booking.refusal_reason && booking.refusal_reason !== ''" bind-html="booking.refusal_reason"></p>
						<p class="twelve cell placeholder" ng-if="! (booking.refusal_reason && booking.refusal_reason !== '')"><i18n>rbs.booking.details.refused.reason.empty</i18n></p>
					</div>
				</div>
			</div>
		</article>
	</div>
	<hr />

	<div class="row" ng-if="canDeleteBookingDateCheck(currentBookingSelected.end_date)">
		<behaviour name="process" resource="booking.resource">
			<button class="right-magnet" ng-if="booking.isPending()" ng-click="refuseBookingSelection()"><i18n>rbs.booking.refuse</i18n></button>
			<button class="right-magnet" ng-if="booking.isPending()" ng-click="validateBookingSelection()"><i18n>rbs.booking.validate</i18n></button>
		</behaviour>
		<behaviour name="process" resource="booking">
			<button class="right-magnet" ng-click="removeBookingSelection()"><i18n>remove</i18n></button>
			<button class="right-magnet" nf-if="booking.resource.is_available === true" ng-click="editBooking()"><i18n>edit</i18n></button>
		</behaviour>
	</div>
</div>
