<div class="schedule-item-content" ng-style="(item.resource.color != null) && {'background-color': '[[item.resource.color]]'} || {'background-color': '[[item.color]]'}">

	<i ng-if="item.data.isPending()" ng-click="viewBooking(item.data)" class="pending-status"></i>
	<i ng-if="item.data.isValidated()" ng-click="viewBooking(item.data)" class="validated-status"></i>
	<i ng-if="item.data.isRefused()" ng-click="viewBooking(item.data)" class="refused-status"></i>
	<i ng-if="item.data.isSuspended()" ng-click="viewBooking(item.data)" class="suspended-status"></i>


	<i ng-if="item.data.isSlot()" ng-click="viewBooking(item.data)" class="periodic-status"></i>



	<authorize name="process" resource="item.data" class="cell checkbox" ng-if="canDeleteBookingDateCheck(item.end_date)">

		<input type="checkbox" ng-model="item.selected"
			   ng-if="item.owner === me.userId || item.data.isPending() || item.myRights.process !== undefined"
			   ng-change="displayToggle(item.data)"
		/>
	</authorize>

	<div class="cell twelve" ng-click="viewBooking(item.data)">
		[[item.resource.name]]
	</div>
	<div class="cell twelve" ng-click="viewBooking(item.data)">
		[[item.owner_name]]
	</div>
</div>