body.rbs{
  @import 'components/index';

  i.mine {
    display: inline-block;
  }
  i.pending-action{
    display: inline-block;
    padding-left: 1px;
  }

  .single{
    width: 100% !important;
  }

}